:root {
    --rb-toast-self-height: calc(var(--toast-position-offset-y) - 100%);
    --rb-toast-self-height-negative: calc(-1 * var(--toast-position-offset-y) - 100%);
    --rb-toast-self-width: calc(var(--toast-position-offset-y) - 100%);
    --rb-toast-self-width-negative: calc(-1 * var(--toast-position-offset-x) - 100%);
}

/* Fade */
.rb-toast-fade {
    position: absolute;
    opacity: 0;
}

.rb-toast-top-left > .rb-toast-fade {
    top: 0px;
    left: 0px;
}

.rb-toast-top-right > .rb-toast-fade {
    top: 0px;
    right: 0px;
}

.rb-toast-bottom-left > .rb-toast-fade {
    bottom: 0px;
    left: 0px;
}

.rb-toast-bottom-right > .rb-toast-fade {
    bottom: 0px;
    right: 0px;
}

.rb-toast-fade-enter {
    opacity: 1;
    transition: opacity 0.3s ease-in;
}

.rb-toast-fade-entered {
    opacity: 1;
}

.rb-toast-fade-exit {
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

/* Zoom */
.rb-toast-zoom {
    position: absolute;
    transform: scale(0);
}

.rb-toast-top-left > .rb-toast-zoom {
    top: 0px;
    right: 0px;
}

.rb-toast-top-right > .rb-toast-zoom {
    top: 0px;
    right: 0px;
}

.rb-toast-bottom-left > .rb-toast-zoom {
    bottom: 0px;
    left: 0px;
}

.rb-toast-bottom-right > .rb-toast-zoom {
    bottom: 0px;
    right: 0px;
}

.rb-toast-top-center > .rb-toast-zoom {
    top: 0px;
    left: 50%;
    transform: translateX(-50%) scale(0);
}

.rb-toast-center > .rb-toast-zoom {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
}

.rb-toast-zoom-enter {
    transform: scale(1);
    transition: transform 0.3s ease-in;
}

.rb-toast-center > .rb-toast-zoom-enter {
    transform: translate(-50%, -50%) scale(1);
}

.rb-toast-top-center > .rb-toast-zoom-enter {
    transform: translateX(-50%) scale(1);
}

.rb-toast-zoom-entered {
    transform: scale(1);
}

.rb-toast-center > .rb-toast-zoom-entered {
    transform: translate(-50%, -50%) scale(1);
}


.rb-toast-top-center > .rb-toast-zoom-entered {
    transform: translateX(-50%) scale(1);
}

.rb-toast-zoom-exit {
    transform: scale(0);
    transition: transform 0.3s ease-in;
}

.rb-toast-top-center > .rb-toast-zoom-exit {
    transform: translateX(-50%) scale(0);
}

.rb-toast-center > .rb-toast-zoom-exit {
    transform: translate(-50%, -50%) scale(0);
}

.rb-toast-top-left > .rb-toast-slide {
    transform: translateX(-100%);
}

.rb-toast-top-left > .rb-toast-slide-enter {
    transform: translateX(0%);
    transition: transform 0.3s ease-in;
}

.rb-toast-top-left > .rb-toast-slide-entered {
    transform: translateX(0%);
}

.rb-toast-top-left > .rb-toast-slide-exit {
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

/*Top Right Slide In Out*/
.rb-toast-top-right > .rb-toast-slide {
    transform: translateX(100%);
    z-index: 9999;
}

.rb-toast-top-right > .rb-toast-slide-enter {
    transform: translateX(0%);
    transition: transform 0.3s ease-in;
}

.rb-toast-top-right > .rb-toast-slide-entered {
    transform: translateX(0%);
}

.rb-toast-top-right > .rb-toast-slide-exit {
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
}

/*Top Center Slide In Out*/
.rb-toast-top-center > .rb-toast-slide {
    top:0px;
    transform: translate(0%, calc(-1 * var(--toast-position-offset-y) - 100%));
}

.rb-toast-top-center > .rb-toast-slide-enter {
    transform: translate(0%, 0%);
    transition: transform 0.3s ease-in;
}

.rb-toast-top-center > .rb-toast-slide-entered {
    transform: translate(0%, 0%);
}

.rb-toast-top-center > .rb-toast-slide-exit {
    transform: translate(0%, calc(-2 * var(--toast-position-offset-y) - 100%));
    transition: transform 0.3s ease-out;
}

/*Center Slide In Out*/
.rb-toast-center > .rb-toast-slide {
    position: absolute;
    top: -50%;
    left: 0px;
}

.rb-toast-center > .rb-toast-slide-enter {
    top: 0px;
    transform: translateY(0%);
    transition: top 0.3s ease-in;
}

.rb-toast-center > .rb-toast-slide-entered {
    top: 0px;
    transform: translateY(0%);
}

.rb-toast-center > .rb-toast-slide-exit {
    top: -100%;
    /* transform: translateX(-50%); */
    transition: top 0.3s ease-out;
}

/*Bottom Left Slide In Out*/
.rb-toast-bottom-left > .rb-toast-slide {
    transform: translateX(calc(-1 * var(--toast-position-offset-x) - 100%));
}

.rb-toast-bottom-left > .rb-toast-slide-enter {
    transform: translateX(0%);
    transition: transform 0.3s ease-in;
}

.rb-toast-bottom-left > .rb-toast-slide-entered {
    transform: translateX(0%);
}

.rb-toast-bottom-left > .rb-toast-slide-exit {
    transform: translateX(calc(-1 * var(--toast-position-offset-x) - 100%));
    transition: transform 0.3s ease-out;
}

/*Bottom Right Slide In Out*/
.rb-toast-bottom-right > .rb-toast-slide {
    transform: translateX(calc(var(--toast-position-offset-x) + 100%))
}

.rb-toast-bottom-right > .rb-toast-slide-enter {
    transform: translateX(0%);
    transition: transform 0.3s ease-in;
}

.rb-toast-bottom-right > .rb-toast-slide-entered {
    transform: translateX(0%);
}

.rb-toast-bottom-right > .rb-toast-slide-exit {
    transform: translateX(calc(var(--toast-position-offset-x) + 100%));
    transition: transform 0.3s ease-out;
}

/*Top Left Bounce In Out*/
.rb-toast-top-left > .rb-toast-bounce {
    left: calc(-1 * (var(--toast-position-offset-x) + 100%));
}

.rb-toast-top-left > .rb-toast-bounce-enter {
    animation: bounceInFromLeft 0.3s;
}

.rb-toast-top-left > .rb-toast-bounce-entered {
    left: 0px;
}

.rb-toast-top-left > .rb-toast-bounce-exit {
    animation: slideOutToLeft 0.3s ease-in forwards;
}

@keyframes bounceInFromLeft {
    
    60% {
        left: 30px;
    }

    80% {
        left: -30px;
    }

    100% {
        left: 0px;
    }
}

@keyframes slideOutToLeft {
    from {
        left: 0px;
    }
    to {
        left: calc(-1 * (var(--toast-position-offset-x) + 100%));
    }
}

/*Top Right Bounce In Out*/
.rb-toast-top-right > .rb-toast-bounce {
    right: calc(-1 * (var(--toast-position-offset-x) + 100%));
}

.rb-toast-top-right > .rb-toast-bounce-enter {
    animation: bounceInFromRight 0.3s ease;
}

.rb-toast-top-right > .rb-toast-bounce-entered {
    right: 0px;
}

.rb-toast-top-right > .rb-toast-bounce-exit {
    animation: slideOutToRight 0.3s ease-in forwards;
}

@keyframes bounceInFromRight {
    60% {
        right: 30px;
    }

    80% {
        right: -30px;
    }

    100% {
        right: 0px;
    }
}

@keyframes slideOutToRight {
    from {
        right: 0px;
    }
    to {
        right: calc(-1 * (var(--toast-position-offset-x) + 100%));
    }
}

/*Bottom Left Bounce In Out*/
.rb-toast-bottom-left > .rb-toast-bounce {
    position: absolute;
    left: calc(-1 * (var(--toast-position-offset-x) + 100%));
    bottom:0px
}

.rb-toast-bottom-left > .rb-toast-bounce-enter {
    animation: bounceInFromLeft 0.3s ease;
}

.rb-toast-bottom-left > .rb-toast-bounce-entered {
    left: 0px;
}

.rb-toast-bottom-left > .rb-toast-bounce-exit {
    animation: slideOutToLeft 0.3s ease-in forwards;
}

@keyframes bounceInFromLeft {
    60% {
        left: 30px;
    }

    80% {
        left: -30px;
    }

    100% {
        left: 0px;
    }
}

@keyframes slideOutToLeft {
    from {
        left: 0px;
    }
    to {
        left: calc(-1 * (var(--toast-position-offset-x) + 100%));
        bottom:0px
    }
}

/*Bottom Right Bounce In Out*/
.rb-toast-bottom-right > .rb-toast-bounce {
    position: absolute;
    bottom: 0px;
    right: calc(-1 * (var(--toast-position-offset-x) + 100%));
}
.rb-toast-bottom-right > .rb-toast-bounce-enter {
    animation: bounceInFromRight 0.3s ease;
}

.rb-toast-bottom-right > .rb-toast-bounce-entered {
    right: 0px;
}

.rb-toast-bottom-right > .rb-toast-bounce-exit {
    animation: slideOutToRight 0.3s ease-in forwards;
}

@keyframes bounceInFromRight {
    60% {
        right: 30px;
    }

    80% {
        right: -30px;
    }

    100% {
        right: 0px;
    }
}

@keyframes slideOutToRight {
    from {
        right: 50px;
    }
    to {
        right: calc(-1 * (var(--toast-position-offset-x) + 100%));
    }
}

/*Top Center Bounce In Out*/
.rb-toast-top-center > .rb-toast-bounce {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -100%);
}

.rb-toast-top-center > .rb-toast-bounce-enter {
    transform: translateX(-50%);
    animation: bounceInFromTop 0.3s ease;
}

.rb-toast-top-center > .rb-toast-bounce-entered {
    transform: translateX(-50%);
    top: 0px;
}

.rb-toast-top-center > .rb-toast-bounce-exit {
    animation: slideOutToTop 0.3s ease-in forwards;
}

@keyframes bounceInFromTop {
    60% {
        top: 20px;
    }

    80% {
        top: -10px;
    }

    100% {
        top: 0px;
    }
}

@keyframes slideOutToTop {
    from {
        transform: translateX(-50%);
        top: 0px;
    }
    to {
        transform: translate(-50%, -100%);
    }
}

/*Center Bounce In Out*/
.rb-toast-center > .rb-toast-bounce {
    top: -100%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.rb-toast-center > .rb-toast-bounce-enter {
    top:0px;
    transform: translate(-50%, 0%);
    animation: bounceInFromCenter 0.3s ease;
}

.rb-toast-center > .rb-toast-bounce-entered {
    top:0px;
    transform: translate(-50%, 0%);
}

.rb-toast-center > .rb-toast-bounce-exit {
    animation: slideOutToTopFromCenter 0.3s ease-in forwards;
}

@keyframes bounceInFromCenter {
    60% {
        top: 40px
    }

    80% {
        top: -20px;
    }

    100% {
        top: 0px;
    }
}

@keyframes slideOutToTopFromCenter {
    from {
        top: 50%;
        transform: translate(-50%, -50%);
    }
    to {
        top: 0px;
        transform: translate(-50%, -100%);
    }
}

/*Flip */

@keyframes flipAnim {
    from {
        transform: rotateY(90deg);
        transform-style: preserve-3d;
    }
    to {
        transform: rotateY(0deg);
        transform-style: preserve-3d;
    }
}
