.rb-toast-container {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 300px;
    box-sizing: border-box;
}

.rb-toast-top-left {
    top: 30px;
    left: 30px;
    align-items: flex-start;
}

.rb-toast-top-right {
    top:30px;
    right: 30px;
    align-items: flex-end;
}

.rb-toast-bottom-left {
    left: 30px;
    bottom: 30px;
    align-items: flex-start;
}

.rb-toast-bottom-right {
    bottom: 30px;
    right: 30px;
    align-items: flex-end;
}

.rb-toast-top-center {
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
    align-items: flex-start;
}

.rb-toast-center {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    align-items: flex-start;
}

.rb-toast-alert {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    background-color: #fff;
    color:#333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0px 5px 9px 1px rgba(0,0,0,0.4);
    margin-bottom: 10px;
}

.rb-toast-alert-close-btn {
    width:20px;
    height:20px;
    content: "\2715";
    position: absolute;
    top:0px;
    right: 0px;
    display: block;
}

.rb-toast-success .rb-toast-alert-close-btn, .rb-toast-danger .rb-toast-alert-close-btn, .rb-toast-warning .rb-toast-alert-close-btn{
    color: #fff;
}

.rb-toast-icon{
    width: 24px;
    height: 24px;
}

.rb-toast-body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.alert-content {
    padding-left: 10px;
    font-size: 15px;
}
/* new  */
.rb-toast-minimal .rb-toast-light {}

.rb-toast-default {
    background-color: #fff;
    color: #333;
}

.rb-toast-alert-icon-small {
    width: 24px;
    height: 24px;
    padding: 5px;
}

.rb-toast-alert-icon-medium {
    width: 32px;
    height: 32px;
    padding: 8px;
}


.rb-toast-alert-icon-large {
    width: 42px;
    height: 42px;
    padding: 12px;
}

.rb-toast-default img.rb-toast-alert-icon {
    background-color: transparent;
    filter: invert(1);
}

.rb-toast-success img.rb-toast-alert-icon {
    background-color: rgb(25, 175, 25);
}

.rb-toast-info img.rb-toast-alert-icon {
    background-color: rgb(20, 118, 209);
}

.rb-toast-warning img.rb-toast-alert-icon {
    background-color: rgb(209, 121, 20);
}

.rb-toast-danger img.rb-toast-alert-icon {
    background-color: rgb(211, 56, 56);
}